.home-catbot-container {
    width: 100%;
    height: 100vh;
    
}

.home-catbot-content {
    
    height: 100%;
    display: flex;
    flex-direction: column;
}

.home-catbot-greeting {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    color: rebeccapurple;
    align-items: center;

}